{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>Agreement</title>
{% endblock title %}
{% block content %}
    {% if user_auth %}
        {% include "include/navbar_reg.html" %}

    {% else %}
        {% include "include/navbar.html" %}

    {% endif %}
    <p style="font-size: 24px; padding-top: 150px">
        Я предоставляя свои персональные данные на сайте, даю согласие на обработку, хранение и использование своих персональных данных Федеральным ресурсным центром по организации комплексного сопровождения детей с РАС федерального государственного бюджетного образовательного учреждения высшего образования «Московский государственный психолого-педагогический университет» (далее – ФРЦ МГППУ) (юридический адрес: Москва, ул. Сретенка, д. 29) на основании Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».
        Настоящим согласием подтверждаю, что проинформирован о том, что под обработкой персональных данных понимаются действия, определённые в Федеральном законе № 152-ФЗ от 27.07.2006 «О персональных данных», а именно: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (предоставление, доступ), блокирование, удаление персональных данных, совершаемые с использованием средств автоматической, а также неавтоматической обработки данных.
        Обработка предоставляемых персональных данных может осуществляться в следующих целях:
        Информирование о мероприятиях, проводимых ФРЦ МГППУ;
        Информирование о печатных и электронных методических продуктах ФРЦ МГППУ;
        Информирование об услугах ФРЦ МГППУ;
        Обработка обращений, заявок и иных данных и документов, предоставляемых мною;
        Повышение качества предоставляемых услуг;
        Анализ данных и проведение внутренних исследований;
        Настоящее согласие распространяется на следующие персональные данные:
        ФИО (как вместе, так и по раздельности);
        Паспортные данные;
        Контактный E-mail;
        Контактный телефон;
        Организация;
        Должность;
        Регион проживания в РФ;
        Название населённого пункта.
        ФРЦ МГППУ обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:
        по запросу уполномоченных органов государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством РФ;
        партнерам и со-организаторам мероприятий проводимых ФРЦ МГППУ. ФРЦ МГППУ гарантирует соблюдение следующих прав: право на получение сведений о том, какие персональные данные субъекта персональных данных хранятся у ФРЦ МГППУ; право на удаление, уточнение или исправление хранящихся у ФРЦ МГППУ персональных данных; иные права, установленные действующим законодательством Российской Федерации.
        Данное согласие предоставляется на неограниченный срок и может быть отозвано в любой момент путём направления электронного уведомления в письменной форме на электронный адрес ФРЦ autism.mgppu@gmail.com, указав в теме письма «Отзыв согласия на обработку персональных данных». Я подтверждаю, что, давая такое согласие, я действую своей волей и в своих интересах. Направление настоящего согласия с адреса электронной почты равнозначно подписанию его моей собственноручной подписью
    </p>
{% endblock content %}
