{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Новый пароль</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Style.css' %}">
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <form method="post"
                  id="password-reset-form"
                  class="w-100"
                  style="max-width: 420px">
                {% csrf_token %}
                <h1 class="modal-title text-center fw-bold mb-4">Новый пароль</h1>
                <div class="form-error mb-3">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <div class="mb-4 w-100 form-change-password">
                        <label class="form-label fs_24" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                        <div class="w-100 form-change-password">{{ f }}</div>
                        <div class="form-error text-danger mt-1">{{ f.errors }}</div>
                    </div>
                {% endfor %}
                <button type="submit"
                        class="btn border-8 py-3 px-5 mt-3 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">
                    Сохранить
                </button>
            </form>
        </div>
    </body>
</html>
