{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Style.css' %}">
        <title>Пароль изменен</title>
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="reset-password-comfirm-text text-center"
                 style="max-width: 500px">
                <a class="navbar-brand" href="{% url 'storage:index' %}">
                    <img src="{% static 'img/Vector.svg' %}" alt="[]">
                    <img src="{% static 'img/SelfStorage.svg' %}" alt="SelfStorage">
                </a>
                <h2 class="my-4">Пароль успешно изменен</h2>
                <!-- Кнопка с ссылкой на главную страницу -->
                <a href="{% url 'storage:index' %}"
                   class="btn btn-primary fs_24 py-3 px-5">Вернуться на главную</a>
            </div>
        </div>
    </body>
</html>
