{% extends "base.html" %}

{% load static %}

{% block title %}
    <title>FAQ</title>
{% endblock title %}
{% block content %}
    {% if user_auth %}
        {% include "include/navbar_reg.html" %}

    {% else %}
        {% include "include/navbar.html" %}

    {% endif %}
    <main class="container mt-header">
        <div class="row" role="tablist">
            <div class="col-lg-3 d-flex flex-column nav nav-pills">
                {% for item in about_us_data %}
                    <button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab  {% if forloop.first %}active{% endif %}"
                            id="tab-{{ item.id }}"
                            data-bs-toggle="pill"
                            data-bs-target="#content-{{ item.id }}"
                            type="button"
                            role="tab"
                            aria-controls="content-{{ item.id }}"
                            aria-selected="{{ forloop.first|yesno:'true,false' }}">{{ item.title }}</button>
                {% endfor %}

            </div>
            <div class="col-lg-9">
                <div class="card tab-content p-5">
                    {% for item in about_us_data %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                             id="content-{{ item.id }}"
                             role="tabpanel"
                             aria-labelledby="tab-{{ item.id }}">
                            <h2 class="fw-bold">{{ item.title }}</h2>
                            {% for text in item.texts.all %}
                                <p>
                                    <a class="fs_24 SelfStorage_grey text-decoration-none"
                                       data-bs-toggle="collapse"
                                       href="#collapse-{{ text.id }}"
                                       role="button"
                                       aria-expanded="false"
                                       aria-controls="collapse-{{ text.id }}">
                                        {{ text.question }}
                                    </a>
                                </p>
                                <div class="collapse" id="collapse-{{ text.id }}">
                                    <span>{{ text.answer }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <aside class="py-5 mt-header SelfStorage__bg_green">
        <div class="container py-5Арендовать бокс">
            <div class="d-flex flex-column align-items-center">
                <h1 class="text-white text-center fw-bold mb-4">Остались вопросы?</h1>
                <h4 class="text-white text-center fw-light">Оставьте заявку и наши менеджеры свяжутся с вами в ближайшее время</h4>
                <form class="row my-4">
                    <div class="col-12 col-lg-6">
                        <input type="text"
                               required
                               name="EMAIL2"
                               class="form-control border-8 mb-4 me-3 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey"
                               placeholder="Укажите ваш e-mail">
                    </div>
                    <div class="col-12 col-lg-6">
                        <button class="btn w-100 border-8 py-3 px-5 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">
                            Рассчитать стоимость
                        </button>
                    </div>
                </form>
                <span class="text-white text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="text-white">согласие на обработку персональных данных</a></span>
            </div>
        </div>
    </aside>
{% endblock content %}
